<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title  %></h1>
    <p>Welcome to <%= bro %></p>
  <% for(var i in bro) { %>
        <ul><%= bro[i] %></ul>
  <% } %>
  </body>
</html>
